version: '3.8'

services:
  frontend:
    image: saehe/seoul-bike-frontend:latest
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_SPRING_API_URL=http://43.201.61.111:8080
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
